<ion-content  padding scroll="false">
  <form (submit)="doLogin()">
    <ion-list>

      <div padding>
      <img src="assets/imgs/logo.png" class="logo"/>
      </div>


      <ion-item padding>
        <ion-label floating>Phone number / Email</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item padding>
        <ion-label floating >Password</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>



      <div padding>
      <button ion-button margin-top="50px">login</button>
      </div>

    <div padding>
      <button ion-button clear margin-top="50px">
          <a href="www.google.com">Contact Us</a>
        </button>
    </div>

    </ion-list>

  </form>


</ion-content>


