page-home {
  .scroll-content {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
    text-decoration: none !important;
    form {
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      .logo{
        height: 100px;
      }

      a{
        text-decoration: none;
      }

    }
  }

}





